*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Roboto Mono', 'Noto Sans JP', sans-serif;
    font-size: 1.1rem;
}

body {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    width: 80%;
    padding-top: 48px;
    padding-bottom: 64px;
}

.ja {
    font-family: 'Noto Sans JP', sans-serif;
}

.item {
    margin: 40px 0;
    font-weight: 400;
    line-height: 2.0;
}

.agent_speech {
    font-weight: 600;
    font-style: italic;
}

.agent_speech.ja {
    font-weight: 700;
    font-style: normal;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 24px;
    margin-top: 56px;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 24px 16px;
    background-color: #ddd;
    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: 0.3s
}

.btn:hover {
    color: #fff;
    background-color: #888;
}

.btn:active {
    color: #fff;
    background-color: #666
}
