*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Roboto Mono', 'Noto Sans JP', sans-serif;
    font-size: 1.1rem;
}

body {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    width: 80%;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 64px;
}

.hidden {
    display: none;
}

.ja {
    font-family: 'Noto Sans JP', sans-serif;
}

.item {
    margin: 0 0 56px 0;
    font-weight: 400;
    line-height: 2.0;
}

.agent_speech {
    font-weight: 600;
    font-style: italic;
}

.agent_speech.ja {
    font-weight: 700;
    font-style: normal;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 32px;
    margin-top: 56px;
    margin-bottom: 56px;
}

.btn {
    border: 3px #333 solid;
    border-radius: 5px;
    padding: 24px 16px;
    background-color: #fff;
    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: 0.3s
}

.btn:hover {
    color: #fff;
    background-color: #333;
}

.btn:active,
.btn:focus {
    border-color: #2ecc71;
    color: #2ecc71;
    background-color: #fff;
}

.btn:focus {
    border-width: 5px;
}

@media only screen and (max-width: 600px) {

    .container {
        /*        padding-top: 24px;*/
    }

    .btn-grid {
        grid-template-columns: repeat(1, auto);
        grid-row-gap: 32px;
    }
}
